{% extends "ProyectoWebApp/base.html" %} 

{% load static %} 

{% block content %}
    
    
    <div class="contenedorFormulario">

        {% if "valido" in request.GET %} 
            <p style="color: white; text-align: center;">¡Gracias por contactarnos!</p>

        {% endif %}

        <form action="" method="POST" style="text-align: center;">
            {% csrf_token %}
            <table style="color: pink; margin: 20px auto;"> {{Miformulario.as_table}}</table>
            <input type="submit" value="Enviar" style= "width: 150px; margin: auto;">
    </form>
    </div>

    
{% endblock %} 